.counterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15em;
    width: 20em;

}

.counterDisplay {
    height: 55%;
    width: 90%;
    padding: .5em;
}

.buttonWrapper {
    height: 25%;
    width: 90%;

}

.borderStyle {
    border: 3px solid #73caec;
    border-radius: 10px;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}